<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script
    src="https://kit.fontawesome.com/0f70dd3e5b.js"
    crossorigin="anonymous"
  ></script>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>URL Shortener Microservice</h1>
    <hr />
    <div class="container">
      <form action="api/shorturl" method="POST">
        <input id="url_input" type="text" name="url" placeholder="Enter a URL..." />
        <input type="submit" value="POST URL" />
      </form>
      <div class="example-usage">
        <h2>Example Usage:</h2>
        <a href="https://url-shortener-microservice.kristinasparrow.repl.co/api/shorturl/1">
          [this_project_url]/api/shorturl/1
        </a>
        <p>Will Redirect to: https://forum.freecodecamp.org/</p>
      </div>
    </div>
    <footer class="footer">
      <p>Built by Kristina Sparrow</p>
      <a
        href="https://github.com/kristina-sparrow"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    </footer>
  </body>
</html>
