<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script
    src="https://kit.fontawesome.com/0f70dd3e5b.js"
    crossorigin="anonymous"
  ></script>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <h1>Exercise Tracker Microservice</h1>
    <hr />
    <div class="container">
      <div class="forms-container">
        <form action="/api/users" method="post">
          <h2>Create New User</h2>
          <p><code>POST /api/users</code></p>
          <div class="input-group">
            <input id="uname" type="text" name="username" placeholder="Create username..." />
            <input type="submit" value="Submit" />
          </div> 
        </form>
        <form id="exercise-form" method="post">
          <h2>Add Exercises</h2>
          <p><code>POST /api/users/:_id/exercises</code></p>
          <div class="input-group">
            <input id="uid" type="text" name=":_id" placeholder=":_id" />
            <input id="desc" type="text" name="description" placeholder="Exercise description..." />
            <input id="dur" type="text" name="duration" placeholder="Duration (minutes)..." />
            <input id="date" type="text" name="date" placeholder="Date (yyyy-mm-dd)..." />
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
      <div class="details-container">
        <h2>GET user's exercise log:</h2>
        <code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code>
        <p><strong>[ ]</strong> = optional</p>
        <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
      </div>
    </div>
    <footer class="footer">
      <p>Built by Kristina Sparrow</p>
      <a
        href="https://github.com/kristina-sparrow"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    </footer>
  </body>
</html>
