body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #FaFaFa;
  text-align: center;
  line-height: 1.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

hr {
  width: 90%;
  margin-top: -15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.example-usage, .example-output {
  display: flex;
  flex-direction: column;
}

#code {
  font-family: monospace;
  padding: 5px;
  color: green;
  background-color: #fff;
  align-self: flex-start;
  text-align: left;
}

a {
  display: block;
  color: #2574A9;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  color: #222;
}
  
.footer i {
  color: #222;
  font-size: 1.1rem;
}