<!DOCTYPE html>
<html>
  <head>
    <title>Request Header Parser Microservice</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script
    src="https://kit.fontawesome.com/0f70dd3e5b.js"
    crossorigin="anonymous"
  ></script>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Request Header Parser Microservice</h1>
    <hr />
    <div class="container">
      <div class="example-usage">
        <h3>Example Usage:</h3>
        <a href="api/whoami">[base url]/api/whoami</a>
      </div>
      <div class="example-output">
        <h3>Example Output:</h3>
        <code id="code">{<br>"ipaddress":"::ffff:159.20.14.100",<br>"language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"<br>}</code>
      </div>
    </div>
    <div class="footer">
      <p>Built by Kristina Sparrow</p>
      <a
        href="https://github.com/kristina-sparrow"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
   </body>
</html>
