<!DOCTYPE html>
<html>
   <head>
      <title>File Metadata</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
      <script
      src="https://kit.fontawesome.com/0f70dd3e5b.js"
      crossorigin="anonymous"
    ></script>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
    <h1>File Metadata Microservice</h1>
    <hr />
    <div class="container">
      <p>Please Upload a File...</p>
      <div class="view">
        <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
          <input id="inputfield" type="file" name="upfile">
          <input id="submit-button" type="submit" value="Upload">
        </form>
      </div>
    </div>
    <footer class="footer">
      <p>Built by Kristina Sparrow</p>
      <a
        href="https://github.com/kristina-sparrow"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    </footer>
   </body>
</html>
